In [1]:
import findspark
findspark.init()
findspark.find()

'C:\\spark-3.2.1-bin-hadoop3.2\\python\\pyspark'

In [2]:
from pyspark.sql import SparkSession
from pyspark import SparkContext

In [3]:
spark = SparkSession \
    .builder \
    .appName("how to read csv file") \
    .getOrCreate()

In [4]:
def openDataFrame(data):
    df = spark.read.option("delimiter", ",") \
        .csv(f"data/{data}.csv", header=True)
    df.printSchema()
    return df

In [5]:
fileName = ["dre_auvergne_rhone_alpes",
            "dre_bourgogne_franche_comte",
            "dre_bretagne",
            "dre_centre_val_de_loire",
            "dre_corse",
            "dre_france_metropolitaine",
            "dre_grand_est",
            "dre_hauts_de_france",
            "dre_ile_de_france",
            "dre_normandie",
            "dre_nouvelle_aquitaine",
            "dre_occitanie",
            "dre_pays_de_la_loire",
            "dre_provence_alpes_cote_d_azur",
           ]

In [6]:
df = openDataFrame(fileName[0])
df.toPandas()

root
 |-- PRODUCTION: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- Unité: string (nullable = true)
 |-- 2014: string (nullable = true)
 |-- 2015: string (nullable = true)
 |-- 2016: string (nullable = true)
 |-- 2017: string (nullable = true)
 |-- 2018: string (nullable = true)
 |-- 2019: string (nullable = true)

,PRODUCTION,_c1,Unité,2014,2015,2016,2017,2018,2019
0,Production d'énergie primaire,None,None,None,None,None,None,None,None
1,P1,Production de charbon,kt,0,0,0,0,0,0
2,P2,Production de pétrole,kt,0,0,0,0,0,0
3,P3,Production de gaz naturel et grisou,GWh PCS,0,0,0,0,0,0
4,P4,"Chaleur nucléaire (E8/0,33)",GWh,266302,275368,227294,242398,243029,260090
...,...,...,...,...,...,...,...,...,...
126,C35,dont GPL,ktep,256,261,261,260,253,249
127,C16,Gaz naturel,ktep,3 169,3 370,3 564,3 526,3 368,3 408
128,C17,Gaz naturel,GWh PCS,40 946,43 547,46 052,45 562,43 521,44 034
129,C18,Electricité,ktep,4 923,5 096,5 181,5 250,5 193,5 099
130,C19,Electricité,GWh,57 257,59 261,60 255,61 058,60 400,59 300

In [7]:
df = openDataFrame(fileName[1])
df.toPandas()

root
 |-- PRODUCTION: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- Unité: string (nullable = true)
 |-- 2014: string (nullable = true)
 |-- 2015: string (nullable = true)
 |-- 2016: string (nullable = true)
 |-- 2017: string (nullable = true)
 |-- 2018: string (nullable = true)
 |-- 2019: string (nullable = true)

,PRODUCTION,_c1,Unité,2014,2015,2016,2017,2018,2019
0,Production d'énergie primaire,None,None,None,None,None,None,None,None
1,P1,Production de charbon,kt,0,0,0,0,0,0
2,P2,Production de pétrole,kt,Secret primaire,Secret primaire,Secret primaire,Secret primaire,Secret primaire,Secret primaire
3,P3,Production de gaz naturel et grisou,GWh PCS,0,0,0,0,0,0
4,P4,"Chaleur nucléaire (E8/0,33)",GWh,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
126,C35,dont GPL,ktep,113,114,116,116,108,109
127,C16,Gaz naturel,ktep,1 188,1 387,1 521,1 399,1 405,1 397
128,C17,Gaz naturel,GWh PCS,15 354,17 927,19 654,18 084,18 157,18 049
129,C18,Electricité,ktep,1 645,1 678,1 713,1 711,1 673,1 655
130,C19,Electricité,GWh,19 129,19 515,19 918,19 898,19 457,19 247